<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link pointer" routerLink="/addItem">Add item</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
  <hr>
  <div>
    <h3>
      Checkbox Selection
      <small>
        <a href="https://github.com/swimlane/ngx-datatable/blob/master/demo/selection/selection-chkbox.component.ts" target="_blank">
          Source
        </a>
      </small>
      <small>
        <a href="#" (click)="add()">Add</a> |
        <a href="#" (click)="update()">Update</a> |
        <a href="#" (click)="remove()">Remove</a> 
      </small>
    </h3>
      <ngx-datatable
      class="material"
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="5"
      [selected]="selected"
      [selectionType]="'checkbox'"
      (activate)="onActivate($event)"
      (select)='onSelect($event)'>
      <ngx-datatable-column
      [width]="30"
      [sortable]="false"
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false"
      [headerCheckboxable]="true"
      [checkboxable]="true">
    </ngx-datatable-column>
    <ngx-datatable-column [width]="50"  name="Name"></ngx-datatable-column>
    <ngx-datatable-column [width]="50"  name="Status"></ngx-datatable-column>
    <ngx-datatable-column [width]="50"  name="Condition" prop="itemCondition"></ngx-datatable-column>
    <ngx-datatable-column [width]="400" name="Description"></ngx-datatable-column>
    <ngx-datatable-column [width]="50" name="Actions" sortable="false" prop="id">
       <template let-row="row" let-value="value" ngx-datatable-cell-template>
        <button md-icon-button class="pointer" (click)="onUpdate(value)" [disabled]="row['status']==='BLOCKED'">
            <i class="fa fa-pencil-square-o"></i>
        </button>
        <button md-icon-button class="pointer" (click)="approveAgent(value)" [disabled]="row['status']==='APPROVED'">
            <i class="fa fa-times"></i>
        </button>
    </template>
    </ngx-datatable-column>

  </ngx-datatable>
  </div>
</div>
