<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link pointer" routerLink="/addListing">Add listing</a>
    </li>
  </ul>
  <hr>
  <div>
    <h3>
      My Listings
    </h3>
      <div>
         <ng2-smart-table [settings]="settings" [source]="data" (edit)="onEdit($event)" (delete)="onDelete($event)"></ng2-smart-table>
      </div>
  </div>
</div>

<modal #modal (onClose)="closed(event)" (onDismiss)="dismissed(event)" (onOpen)="opened(event)">
    <modal-header [show-close]="true">
        <h4 class="modal-title">Confirm Deleting</h4>
    </modal-header>
    <modal-body>
        Are you sure you want to delete?
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="modal.close()">Ok</button>
    </modal-footer>
</modal>
