<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link pointer" routerLink="/addListing">Add listing</a>
    </li>
  </ul>
  <hr>
  <div>
    <h3>
      My Listings
    </h3>
      <ngx-datatable
      class="material"
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="5"
      [selected]="selected"
      [selectionType]="'checkbox'"
      (activate)="onActivate($event)"
      (select)='onSelect($event)'>
      <ngx-datatable-column
      [width]="30"
      [sortable]="false"
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false"
      [headerCheckboxable]="true"
      [checkboxable]="true">
    </ngx-datatable-column>
    <ngx-datatable-column [width]="50"  name="Name"></ngx-datatable-column>
    <ngx-datatable-column [width]="50"  name="Status"></ngx-datatable-column>
    <ngx-datatable-column [width]="50"  name="Condition" prop="itemCondition"></ngx-datatable-column>
    <ngx-datatable-column [width]="400" name="Description"></ngx-datatable-column>
    <ngx-datatable-column [width]="50" name="Actions" sortable="false" prop="id">
       <template let-row="row" let-value="value" ngx-datatable-cell-template>
        <button md-icon-button class="pointer" (click)="onUpdate(value)" [disabled]="row['status']==='BLOCKED'">
            <i class="fa fa-pencil-square-o"></i>
        </button>
        <button md-icon-button class="pointer" (click)="onDelete(value)" [disabled]="row['status']==='APPROVED'">
            <i class="fa fa-times"></i>
        </button>
    </template>
    </ngx-datatable-column>

  </ngx-datatable>
  </div>
</div>
